@import url("https://use.typekit.net/ril2vdl.css");
@import url("https://use.typekit.net/ril2vdl.css");
@import url("https://use.typekit.net/ggo6uev.css"); /*nueu haas unica*/

@media screen {
    :root {
    --typography-base: 0.5rem;
            
    --typography-h1: calc(5 * var(--typography-base));
    --typography-h2: calc(3 * var(--typography-base));
    --typography-h3: calc(2 * var(--typography-base));
    --typography-blockquote: calc(2 * var(--typography-base));
    --typography-p: calc(1 * var(--typography-base));
    --typography-a: calc(1 * var(--typography-base));

    --gutter: calc(2 * var(--font-size));
    --spacing: calc(2 * var(--font-size));
    }

    h1 {
        font-size: calc(3.5 * var(--typography-base));
        padding-left: 0.5rem;
        padding-right: 1rem;
    }

    h2 {
        font-size: calc(2 * var(--typography-base));
    }

    h3, .p1, .p2 {
        font-size: calc(2 * var(--typography-base));
        letter-spacing: 0.1px;
    }

    .p2 {
        margin-left: 0.6rem;
        margin-right: 0.5rem;
    }

    body {
        /* background-color: #ffe6d4; */
        overflow: hidden;
        background-image: url('ghj.png');
    }

    nav {
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        /*row-gap: 0.5rem;*/
    }

    #nav {
        color:#211e1d;
        background: #ffffff;
        padding: 1.5rem;
        border: 1px solid rgb(255, 255, 255);
        box-shadow: 2px 2px 4px rgba(108, 103, 103, 0.3);
    }

   .centeralign {
    text-align: center;
    font-size: calc(1.2 * var(--typography-base));
   }

    div {
        margin:0.5rem;
    }

    #fixme {
        margin-top: 0.5rem;
    }

    #fixmebutton {
        width: 100%;
        text-align: center;
        letter-spacing: 1.3px;
        background-color: #211e1d;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 1;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        color: #ffe6d4;
    }

    #fixmebutton:hover {
        box-shadow: 4px 4px 4px #211e1d;
        background-color: #ffe6d4;
        color: #211e1d;
    }

    /* COME BACK TO THISSSS -- NOPE----->>>>
    #nameage {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 1rem;
        padding-bottom: 1rem;
    }*/

    /*sliderrrr*/
#grid {
    margin:auto;
    margin-top: 0px;
    width: 90%;
    height: 90vh;
    right: -100%;
    position: relative;
    z-index: -5;
    transition: right ease .1s;
    /* animation: slideLeft 3s ease-in-out forwards; */
}

/* @keyframes slideLeft {
    0% {
        transform: translateX(3000px);
    }

    100% {
        transform: translateX(0);
    }
} */
   
 /*  .slider {
      border: none;
      background-color: white;
      height: 3px;
      width: 45px;
      margin-top: 10px;
      border-radius:15px;
   }*/
   
   /*#slideButton {
     border: 0;
     margin-top: 12px;
     margin-left: 15px;
     padding-right: 7px;
     padding-top: 7px;
     position: fixed;
     border-radius: 5px;
     padding-left: 18px;
   }*/
   
   /*#slideButton:focus {
      outline: none;
   }*/
   
   /*#slideButton:hover {
      background-color: rgb(43, 43, 41);
      transition: ease 0.6s;
   }*/

    #prescription {
        margin: auto;
        background: #ffffff;
        height: 90vh;
        /* width: 100%; */
        display: grid;
        grid-template-rows: 1fr;
        border: 1px solid rgb(211, 211, 211);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.411);
    }

    .p1, .p2 {
        display:block;
        margin-bottom: 1px;
    }

    #logo {
        display: grid;
        align-self: center;
    }

    #logosize {
        max-width: 40px;
        justify-self:right;
        margin-left: 1.5rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    #address {
        display: none;
    }

    #resultsDiv {
        max-width: 100%;
    }

    #signature {
        display:none;
    }

    /* #gridwithbuttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 0.5rem;
        margin-top: 1rem;;
    } */

    #warning {
        color:rgb(255, 255, 255);
        display: none;
        background-color: #ff0000;
        text-align: center;
        margin: auto;
        padding: 0.4rem;
        margin-top: 0.5rem;;
    }

    /* footer {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items:center;
        position: absolute;
        bottom:0;
        border-top: 1px solid black;
    } */
}

@media (min-width: 325px) {
    /* #grid {
        display: grid;
        grid-template-rows: 1fr;
        margin-bottom: 1rem;
        margin: auto;
    } */

    /* #logosize {
        max-width: 50px;
    } */

    h1 {
        font-size: calc(3.5 * var(--typography-base));
        padding-left: 0.5rem;
        padding-right: 1rem;
    }

    h2, h3, h4 {
        font-size: calc(1.9 * var(--typography-base));
    }

    h3 {
        letter-spacing: 0.2px;
    }

    h4 {
        letter-spacing: 1px;
    }

    .p2 {
        font-size: calc(2.1 * var(--typography-base));
        letter-spacing: -0.2px;
        line-height: calc(3.1 * var(--typography-base));;
        /* margin-left: 0.5rem; */
    }

    .p2 {
        margin-top: 1.5rem;
    }

    #prescription {
        margin-top: 2rem;
    }
}

@media (min-width: 483px) {

    h1 {
        font-size: calc(3.5 * var(--typography-base));
        padding-left: 0.5rem;
        padding-right: 1rem;
    }

    h2, h3, h4 {
        font-size: calc(1.9 * var(--typography-base));
    }

    h3 {
        letter-spacing: 0.2px;
    }

    h4 {
        letter-spacing: 1px;
    }

    .p2 {
        font-size: calc(2.3 * var(--typography-base));
        letter-spacing: -0.2px;
        line-height: calc(3.3 * var(--typography-base));;
        /* margin-left: 0.5rem; */
    }

    nav {
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #nav {
        padding: 0.5rem;
    }

    #resultsDiv {
        max-width: 95%;
    }
/* 
    #logosize {
        max-width: 40px;
    } */

    footer {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items:center;
        position: absolute;
        bottom:0;
        border-top: 1px solid black;
        width: 100%;
    }
}


@media (min-width: 750px) {

    h1 {
        font-size: calc(3.5 * var(--typography-base));
        padding-left: 0.5rem;
        padding-right: 1rem;
    }

    h2, h3, h4 {
        font-size: calc(1.9 * var(--typography-base));
    }

    h3 {
        letter-spacing: 0.2px;
    }

    h4 {
        letter-spacing: 1px;
    }

    .p2 {
        font-size: calc(2.7 * var(--typography-base));
        letter-spacing: -0.2px;
        line-height: calc(3.7 * var(--typography-base));;
        /* margin-left: 0.5rem; */
    }

    main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 100%; 
    }

    nav {
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 2fr;
    }

    #nav {
        margin: auto;
        padding: 1.2rem;
    }

    /* .centeralign {
        text-align: center;
        font-size: calc(1.4 * var(--typography-base));
    } */

    #grid {
        margin: 2rem;
    }

    #prescription {
        margin-top: 0rem;
        /* max-width: 600px; */
    }

    #resultsDiv {
        max-width: 80%;
    }

    #formspacing {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    #gridwithbuttons {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 1.5rem;
    }   
}

@media (min-width: 1000px) {

    h2, h3, h4 {
        font-size: calc(1.9 * var(--typography-base));
    }

    h3 {
        letter-spacing: 0.2px;
    }

    h4 {
        letter-spacing: 1px;
    }

    .p2 {
        font-size: calc(2.7 * var(--typography-base));
        letter-spacing: -0.2px;
        line-height: calc(3.7 * var(--typography-base));;
        /* margin-left: 0.5rem; */
    }

    #resultsDiv {
        max-width: 80%;
        margin-left: 1rem;
        margin-top: 1.5rem;
    }
}

@media print {

    :root {
        --typography-base: 0.5rem;
    }

    h1 {
        font-size: calc(4 * var(--typography-base));
        letter-spacing: 1.2;
        padding-right: 1rem;
        padding-top:1rem;
    }

    h2 {
        font-size: calc(2.6 * var(--typography-base));
    }

    h3, .p2 {
        font-size: calc(2.3 * var(--typography-base));
        letter-spacing: 0.3px;
    }
    
    .p1, h2, h3, #timer, #startStopButton, .p2  {
        font-family: "attribute-mono", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    #nav, #printbutton, .timer-container, #timer, #startStopButton, #gridwithbuttons {
        display: none;
    }

    #allcontent, #grid, #prescription, section {
        width: 100vw;
        margin: 0;
    }

    body {
        border: 2px solid rgb(0, 0, 0);
    }

    #allcontent {
        padding: 1rem;
    }

    #formspacing {
        display: grid;
        grid-template-columns: 1fr;
    }

    #resultsDiv {
       padding-top: 1rem;
       padding-bottom: 1rem;
       padding-left: 1rem;
    }

    #formspacing {
        margin-top: 1rem;
        padding-bottom: 1rem;
    }

    #logo {
        display: grid;
        grid-template-columns: 3fr 2fr;
        align-items: center;
    }

    #logosize {
        max-width: 100px;
        align-items: center;
        justify-self: end;
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }

    #signature {
        position: absolute;
        bottom: 0;
        margin-bottom: 30px;
        margin-left: 1rem;
    }

    #signsize {
        height: 50px;
        object-fit: contain;
        display: block;
        justify-content:center;
        margin-bottom: 0.2rem;
    }

    #lineabovesign {
        text-decoration: overline;
    }
}

/* GENERAL CODE*/

h1 {
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h2, h3, .p2, h4  {
    font-family: "attribute-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.p3 {
    color: #55504e;
}

hr {
    border: 0.5px solid rgb(0, 0, 0);
    margin: 0.5rem;
}

#title {
    text-align:center;
    letter-spacing:1.2;
}

button {
    display: inline-block;
    border: 1px solid #d8e3dd;
    padding: 0.5rem;
    cursor: pointer;
}

button:hover {
    background-color: #211e1d;
    border: 1px solid #d8e3dd;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

#gridwithbuttons{
    display: none;
}

#data-list, #data-list2 {
    border: 1px solid black;
    margin-top: 0.4rem;
    padding: 0.4rem;
    width: 100%;
}

#address {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/* #logo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
} */

/* #logosize {
    max-width: 100px;
    align-items: center;
    justify-self: end;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
} */

/* #eye {
    max-width: 20px;
    align-items: center;
    } */

#resultsfeelingHeader, #resultstimeHeader, #resultsremedyHeader {
    padding-left: 1rem;
    margin-top: 0.5rem;
}

#printicon {
    display: block;
    margin: auto;
    max-width: 18px;
    align-items: center;
}

#printbutton {
    display:flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    gap: 0.2rem;
    width: 100%;
}

/* Timer
.timer-container {
    text-align: center;
}
  
#timer {
    padding-bottom: 1rem;
    margin: auto;
} */
  
/* #startStopButton,  */
#printbutton {
    padding: 10px 10px;
    cursor: pointer;
    background-color: #ffe6d4;
    border: 1px solid #211e1d;
    box-shadow: 2px 2px 4px rgba(0, 0, 0);
}

/* , #eyebutton:hover */
#printbutton:hover {
 box-shadow: 4px 4px 4px #211e1d;
 background-color: #211e1d;
 color:#ffe6d4;
 box-shadow: 4px 4px 4px #211e1d;
}

.imgsize {
    width: 30px;
    height: 30px;
    object-fit: contain;
}


/*eye code*/
/* body, html {
    height: 100%;
    margin: 0;
  }
  
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0s linear 0s;
  }
  
  #overlay.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0s, visibility 0s;
  }
  
  .slide-box {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: black;
    transition: transform 0s ease-in-out;
  }
  
  .top {
    top: 0;
  }
  
  .bottom {
    bottom: 0;
  }
  
  #slideButton {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10000;
  } */