@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url("https://use.typekit.net/ril2vdl.css");
@import url("https://use.typekit.net/ril2vdl.css");

@media screen {
    :root {
    --typography-base: 0.5rem;
            
    --typography-h1: calc(5 * var(--typography-base));
    --typography-h2: calc(3 * var(--typography-base));
    --typography-h3: calc(2 * var(--typography-base));
    --typography-blockquote: calc(2 * var(--typography-base));
    --typography-p: calc(1 * var(--typography-base));
    --typography-a: calc(1 * var(--typography-base));

    --gutter: calc(2 * var(--font-size));
    --spacing: calc(2 * var(--font-size));
    }

    h1 {
        font-size: calc(2.5 * var(--typography-base));
    }

    h2, .SometimeClass,
    .HeadacheClass {
        font-size: calc(1.8 * var(--typography-base));
    }

    h3 {
        font-size: calc(1.5 * var(--typography-base));
        letter-spacing: 1px;
    }

    body {
        background-color: rgb(255, 255, 234);
    }

    nav {
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }

    #nav {
        border: 1px solid black;
    }

    #fixmebutton {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1;
    }

    #nameage {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 1rem;
        padding-bottom: 1rem;
    }

    #shuffleButton /*, #printcallout*/ {
        display: none;
    }

    #timerprint {
        padding: 1rem;
    }

    .HeadacheClass {
        padding: 1rem;
    }
}

@media (min-width: 483px) {

    nav {
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;
    }

    #nav {
        margin: auto;
    }

    div {
        margin: 1rem;
    }

    #timerprint {
        padding-bottom: 1rem;
    }
}


@media (min-width: 650px) {

    main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 100%;   
    }

    nav {
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }

    #nav {
        border-right: 1px solid black;
    }

    div {
        margin: 0rem;
        padding: 0rem;
    }
}

/* GENERAL CODE*/
h1 {
    font-family: "Rubik Mono One", monospace;
    font-style: normal;
    text-align: center;
    padding: 1rem;
}

h2, h3, .SometimeClass,
.HeadacheClass, #timer, #startStopButton  {
    font-family: "attribute-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.SometimeClass {
    padding: 1rem;
}

hr {
    border: 0.5px solid rgb(0, 0, 0);
    margin-bottom: 1.5rem;
}

#nav {
    background: rgb(255, 243, 185);
    padding: 2rem;
}

button {
    display: inline-block;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

button:hover {
    background-color: black;
    color: white;
}

#prescription {
    background: rgb(255, 255, 255);
    height: 90vh;
    margin: 2rem;
    display: grid;
    grid-template-rows: 2fr 2fr;
    border: 1px solid black;
}

#timerprint {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

#printcallout {
    text-align: center;
    margin: auto;
}

#printicon {
    display: block;
    margin: auto;
    max-width: 18px;
    padding-bottom: 1.1rem;
}

/*Timer*/
.timer-container {
    text-align: center;
}
  
#timer {
    padding-bottom: 1rem;
    margin: auto;
  }
  
#startStopButton, #printbutton {
    padding: 10px 20px;
    cursor: pointer;
  }